.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: scroll;
}
.control {
  margin-bottom: 0.5rem;
}
.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}
.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.submit {
  border-radius: 20px;
  margin-right: 10px;
  padding: 0.5rem 2rem;
  font-size: 18px;
  color: aliceblue;
  border: 1px solid red;
  background-color: red;
}
.cancle {
  border-radius: 20px;
  margin-right: 20px;
  padding: 0.5rem 2rem;
  font-size: 18px;
  border: 1px solid rgb(80, 25, 25);
  color: rgb(82, 4, 4);
}
.invalid label {
  color: #ca3e51;
}
.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
