.form{
    text-align: right;
}
.form button{
    font: inherit;
    cursor: pointer;
    background-color: #ec370a;
    border: 1px solid #ec370a;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}
.form button:hover,.form button:active{
    background-color: #641e03;
}